/*
Error: Undefined variable: "$grey-color-dark".
        on line 5 of _layout.scss

1: /**
2:  * Site header
3:  *\/
4: .site-header {
5:     border-top: 5px solid $grey-color-dark;
6:     border-bottom: 1px solid $grey-color-light;
7:     min-height: 56px;
8: 
9:     // Positioning context for the mobile navigation icon
10:     position: relative;

Backtrace:
_layout.scss:5
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/script/tree/list_literal.rb:63:in `map'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/script/tree/list_literal.rb:63:in `_perform'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/exec/base.rb:52:in `parse'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/exec/base.rb:19:in `parse!'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/bin/sass:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$grey-color-dark\".\A         on line 5 of _layout.scss\A \A 1: /**\A 2:  * Site header\A 3:  */\A 4: .site-header {\A 5:     border-top: 5px solid $grey-color-dark;\A 6:     border-bottom: 1px solid $grey-color-light;\A 7:     min-height: 56px;\A 8: \A 9:     // Positioning context for the mobile navigation icon\A 10:     position: relative;"; }
