/*
Error: Invalid US-ASCII character "\xE9"
        on line 256 of _post.scss

251: 				}
252: 			}
253: 		}
254: 	}
255: 	
256: // 隐藏评论里的附件按钮
257: .hc__reply__clip,.hc__footer{display:none}

Backtrace:
_post.scss:256
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/util.rb:1325:in `rescue in block in find_encoding_error'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/util.rb:1322:in `block in find_encoding_error'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/util.rb:1321:in `each'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/util.rb:1321:in `each_with_index'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/util.rb:1321:in `find_encoding_error'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/util.rb:930:in `check_sass_encoding'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/engine.rb:439:in `check_encoding!'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/engine.rb:395:in `_to_tree'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/exec/base.rb:52:in `parse'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/lib/sass/exec/base.rb:19:in `parse!'
/Users/aiwm/.rvm/rubies/ruby-2.4.1/lib/ruby/gems/2.4.0/gems/sass-3.4.25/bin/sass:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xE9\"\A         on line 256 of _post.scss\A \A 251: 				}\A 252: 			}\A 253: 		}\A 254: 	}\A 255: 	\A 256: // 隐藏评论里的附件按钮\A 257: .hc__reply__clip,.hc__footer{display:none}"; }
